* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #333;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

h1 {
  color: antiquewhite;
}

p {
  color: aliceblue;
}